* {
    font-family: Raleway;
    /* margin: 0px;
    padding: 0px; */

}

.hero {
    background-image: url(Assets/Hero-bg.png);
    padding: 30px 100px;
    /* position: absolute; */
    width: 1370px;
    height: 698px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    /* margin: 0 100px; */
}

.navbar h1 {
    font-size: 34px;
    color: rgb(78, 71, 255);
    font-weight: 1000;
}

.navbar button {
    font-size: 16px;
    font-weight: 700px;
    padding: 12px 36px 12px 36px;
    background-color: rgb(78, 71, 255);
    border: 2px solid rgb(78, 71, 255);
    border-radius: 10px;
    color: white;
}

.navbar button:hover {
    font-size: 16px;
    font-weight: 900px;
    padding: 12px 36px 12px 36px;
    background-color: rgba(78, 71, 255, 0.1);
    border: 2px solid rgba(78, 71, 255, 0.1);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.678);
    transition: all 0.30s ease-in-out;
}

.container {
    text-align: center;
    position: static;
    margin-top: 158px;
}

.container h1 {
    font-size: 65px;
    color: rgb(0, 0, 0);
    font-weight: 1000;
}

.container button {
    font-size: 16px;
    border: 2px solid rgb(78, 71, 255);
    padding: 12px 36px 12px 36px;
    background-color: rgb(78, 71, 255);
    color: white;
    border-radius: 10px;

}

.container button:hover {
    font-size: 16px;
    border: 2px solid rgba(78, 71, 255, 0.1);
    padding: 12px 36px 12px 36px;
    background-color: rgba(78, 71, 255, 0.1);
    color: black;
    border-radius: 10px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.678);
    transition: all 0.30s ease-in-out;

}

/* Action Section */
.action {
    display: flex;
    justify-content: center;
    justify-content: space-between;
    margin: 100px 150px;
    align-items: center;

}

.container2 h2 {
    font-size: 42px;
    color: rgb(0, 0, 0);
    font-weight: 1000;
}

.container2 p {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.651)
}

.container2 button {
    font-size: 16px;
    border: 2px solid rgb(78, 71, 255);
    padding: 12px 36px 12px 36px;
    background-color: rgb(78, 71, 255);
    color: white;
    border-radius: 10px;

}

.container2 button:hover {
    font-size: 16px;
    border: 2px solid rgba(78, 71, 255, 0.1);
    padding: 12px 36px 12px 36px;
    background-color: rgba(78, 71, 255, 0.1);
    color: black;
    border-radius: 10px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.678);
    transition: all 0.30s ease-in-out;

}

.action-img img {
    border-radius: 48px;
}

/* Joined Thousands of Productive Users */
.joined {
    text-align: center;
    border-radius: 24px;
    background: rgba(78, 71, 255, 0.1);
    padding: 50px 0;
    margin: 100px 150px;
}

.joined h2 {
    font-size: 38px;
    color: rgb(0, 0, 0);
    font-weight: 1000;
}

.joined-list {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;

}

.joined-list li {
    font-size: 90px;
    color: rgb(78, 71, 255);
    list-style-type: none;
    margin: 10px 0;
    font-family: Inter, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    font-weight: 900;
}



.joined-list2 {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
    text-decoration: none;
}

.joined-list2>p {
    margin-top: 0px;
    font-size: 20px;
    font-style: bold;
    color: rgba(0, 0, 0, 0.5);
    font-weight: 500;

}

/* What our users say */
.users-reviews {
    text-align: center;
    margin: 100px 150px;
}

.users-reviews h1 {
    text-align: center;
    margin: 100px 150px;
    font-size: 40px;
    font-style: bold;
}



/* Loved by Designers */
.review-cards {
    background-color: rgba(245, 245, 245, 0.644);
    border-radius: 15px;
    width: 366.67px;
    height: 243px;
    gap: 30px;

}

.review-cards:hover {
    background-color: rgba(245, 245, 245, 0.644);
    border-radius: 15px;
    width: 366.67px;
    height: 243px;
    gap: 30px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.678);
    transition: all 0.30s ease-in-out;
}

.icon-star {
    display: flex;
    gap: 10px;
    margin-left: 25px;
    margin-top: 20px;
}

.review-cards h1 {
    font-size: 18px;
}

.div {
    display: flex;
    gap: 10px;
    margin-left: 25px;
}

.div2 {
    margin-top: 10px;
}

.div2 h3 {
    font-size: 15px;
    font-weight: normal;
}

.div img {
    height: 40px;
    width: auto;
    margin-top: 20px;
    border-radius: 50%;
}

.Date {
    margin-top: -15px;
    font-size: 13px;
}

.r3-cards {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.review {
    margin-left: 25px;
}


/* Ready to focus better */
.ready-focus {
    background-color: rgba(245, 245, 245, 0.644);
    padding: 100px 150px;
    margin: 100px 150px;
    border-radius: 20px;
}

.ready-focus-container {
    text-align: center;
    margin: 50px 100px;
}

.ready-focus-container h1 {
    font-size: 50px;
    font-weight: 900;
    color: rgb(0, 0, 0);
}

.ready-focus-container p {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.651);
}

.ready-focus-container button {
    font-size: 16px;
    border: 2px solid rgb(78, 71, 255);
    padding: 12px 36px 12px 36px;
    background-color: rgb(78, 71, 255);
    color: white;
    border-radius: 10px;

}

.ready-focus-container button:hover {
    font-size: 16px;
    padding: 12px 36px 12px 36px;
    border: 2px solid rgba(78, 71, 255, 0.1);
    background-color: rgba(78, 71, 255, 0.1);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.678);
    transition: all 0.30s ease-in-out;

}

.ready-focus-img {
    display: flex;
    justify-content: center;

}

.ready-focus-img img {

    border-radius: 48px;

}

/* let's get in touch */
.main-from {
    display: flex;
    justify-content: center;
    gap: 200px;
}

.from-h {
    font-size: 80px;
    font-style: bold;
    font-weight: 900;
    margin-top: 340px;

}

form {
    padding-top: 150px;
}

.from p {
    font-size: 15px;
    color: black;
}

form>input {
    width: 400px;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

form>textarea {
    width: 400px;
    height: 100px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.btn {
    background: rgb(78, 71, 255);
    color: white;
    padding: 10px;
    width: 425px;
    border: 2px solid rgb(78, 71, 255);
    border-radius: 5px;
    margin-bottom: 70px;

}

.btn:hover {
    background-color: rgba(78, 71, 255, 0.1);
    border: 2px solid rgba(78, 71, 255, 0.1);
    box-shadow: 3px 2px 10px rgba(0, 0, 0, 0.678);
    transition: all 0.30s ease-in-out;
    color: #000;
}

.footers {
    display: flex;
    gap: 30px;
    justify-content: center;
}

.footers li {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    font-weight: 500;

}

.footers li>a {
    text-decoration: none;
    color: rgb(137, 135, 161);

}

.footers li>a:hover {
    text-decoration: none;
    color: rgb(74, 57, 255);
    font-weight: 700;
    font-size: 20px;
    transition: all 0.40s ease-in-out;

}

footer {
    text-align: center;

    padding-top: 50px;
    background-color: rgba(245, 245, 245, 0.644);
    padding-bottom: 100px;
}

.logo {
    font-size: 100px;
    color: rgb(78, 71, 255);
    font-weight: 900;
    font-style: bold;
    font-family: Inter, 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.ps {
    color: rgb(137, 135, 161);
    margin-top: -50px;
}